BuildResults.xml
ColorCode.AcceptanceTests.xunit.results.xml
ColorCode.AcceptanceTests/Data/asax/class.actual.html
ColorCode.AcceptanceTests/Data/ashx/simple.actual.html
ColorCode.AcceptanceTests/Data/csharp/abstract-keyword.actual.html
ColorCode.AcceptanceTests/Data/csharp/as-keyword.actual.html
ColorCode.AcceptanceTests/Data/csharp/assembly-attribute.actual.html
ColorCode.AcceptanceTests/Data/csharp/base-keyword.actual.html
ColorCode.AcceptanceTests/Data/csharp/comments.actual.html
ColorCode.AcceptanceTests/Data/csharp/correct-classname.actual.html
ColorCode.AcceptanceTests/Data/csharp/linq-keyword.actual.html
ColorCode.AcceptanceTests/Data/csharp/strings.actual.html
ColorCode.AcceptanceTests/Data/css/sample.actual.html
ColorCode.AcceptanceTests/Data/php/sample.actual.html
ColorCode.AcceptanceTests/Data/ps/keywords.actual.html
ColorCode.AcceptanceTests/Data/ps/multilinecomments.actual.html
ColorCode.AcceptanceTests/Data/ps/operators.actual.html
ColorCode.AcceptanceTests/Data/ps/sample.actual.html
ColorCode.AcceptanceTests/Data/sql/aggregate-functions.actual.html
ColorCode.AcceptanceTests/Data/sql/keyword-color.actual.html
ColorCode.AcceptanceTests/Data/sql/math-functions.actual.html
ColorCode.AcceptanceTests/Data/sql/system-function-color.actual.html
ColorCode.AcceptanceTests/Data/vb/linq-keyword.actual.html
ColorCode.AcceptanceTests/Data/vb/strings.actual.html
ColorCode.AcceptanceTests/Data/xml/xml-stylesheet.actual.html
ColorCode.AcceptanceTests/Data/fsharp/fsharp-tutorial.actual.html
ColorCode.AcceptanceTests/obj/
ColorCode.Facts.xunit.results.xml
ColorCode.Facts/obj/
ColorCode.v11.suo
ColorCode/obj/
_ReSharper.ColorCode/