/***************************************************************

	CodePlex.css TOC

	1. Structural

	2. Typographic
	
	3. Navigational

	4. Graphics & Branding


****************************************************************/


/****************************************************************
* 1. Structural													*
****************************************************************/

html, form, form.table 
{
	height: 100%;
	min-width: /*{css:Canvas.MinWidth}*/;
}
body 
{
	height: 100%;
	background-color:/*{css:Background.Standard}*/; 
	font-style: normal;
	font-size: .8em;
	margin	: 0;
	position:relative;
}
html.Opera, .Opera form, .Opera form.table, .Opera body
{
	height: 100%;
}
.Opera form, .IE form
{
	margin: 0;
}
.IE6 .MinWidthDiv
{
	height: 1px; 
	width: /*{css:Canvas.MinWidth}*/; 
	overflow: hidden;
}
.IE6 .MinWidthContent
{
	margin-top: -1px;
}
.IE table.MinWidthContent
{
	table-layout:fixed;	
}
hr
{
	margin-top:/*{css:StandardMargin}*/;
	margin-bottom:/*{css:StandardMargin}*/;
	margin-top: 1em;
	margin-bottom:1em;
}
img
{
	border: 0;
}
ul
{
	margin-left: 0em;
	padding-left: 2em;
	list-style-type: square;
	list-style-image: url('/*{css:ImageUrl:bullet_square.gif}*/');
}
li
{
	margin-left:0;
    margin-bottom: .1em;
    margin-top: .1em;
}
th
{
	font-weight: normal;
	vertical-align: bottom;
}
.FloatRight
{
	float:right;
}
.FloatLeft
{
	float:left;
}
.FloatNone
{
	float:none;
}
.ClearLeft
{
	clear:left;
}
.ClearRight
{
	clear:right;
}
.ClearBoth
{
	clear:both;
}
.Block
{
	display:block;
}
.Inline
{
	display:inline;	
}
.IE .Fixed
{
	table-layout:fixed;
}
.IE7 .ZoomFix
{
	zoom: 100%;
}
.Separator
{
	width:95%; 
	color:#bbb;
}
.Opera .ajax__calendar_container{
	z-index:1;
}
.FF .FixWidthDiv, .Opera .FixWidthDiv
{
	overflow:hidden;
}

/****************************************************************
* 2. Typographic												*
****************************************************************/

body,
input,
select,
textarea
{
	font-family: /*{css:Font.Family.Standard}*/;
	color: /*{css:Font.Color.Normal}*/;
}
input,
select,
textarea
{
	font-size: /*{css:Font.Size.Input}*/;
}
p
{
	margin-top:1em;
	margin-bottom:1em;
}
.Opera wbr:after { content: "\00200B" }
.MonoSpace
{
	font-family: /*{css:Font.Family.MonoSpace}*/;
}
.ProperCase
{
	text-transform:capitalize;
}
.NoWrap
{
	white-space: nowrap;
}
.EmptyTextBox
{
	color:/*{css:Navigation.StandardLink.Active.Color}*/ !important;
	font-style:italic;
}

/****************************************************************
* 3. Navigational												*
****************************************************************/

a, a:link, a:visited 
{
	text-decoration: underline;
	color: /*{css:Navigation.StandardLink.Color}*/;
}
a:active
{
	color: /*{css:Navigation.StandardLink.Active.Color}*/; 
}
a:hover
{
	color: /*{css:Navigation.StandardLink.Hover.Color}*/;
}
.SecondaryText a, .SecondaryText a:active, .SecondaryText a:link, .SecondaryText a:visited,
a SecondaryText, a:active.SecondaryText, a:link.SecondaryText, a:visited.SecondaryText 
{
	color: /*{css:Font.Color.Secondary}*/;
}
.NoUnderline, .NoUnderline a:active, .NoUnderline a:link, .NoUnderline a:visited
{
	text-decoration: none !important;
}
.NoUnderlineGrayText, .NoUnderlineGrayText a:active, .NoUnderlineGrayText a:link, .NoUnderlineGrayText a:visited, .NoUnderlineGrayText a:hover
{
	text-decoration: none !important;
	color: Gray !important;
}
.UnderlineHover, .UnderlineHover a:active, .UnderlineHover a:link, .UnderlineHover a:visited
{
	text-decoration: none !important;
}
.UnderlineHover a:hover
{
	text-decoration: underline !important;
}
a.disabled, a.disabled:hover, a.disabled:active, a.disabled:link, a.disabled:visited
{
	text-decoration: none;
	cursor: text;
	color: #777;
}
.SiteHeader, .SiteHeader a, .SiteHeader a:link, .SiteHeader a:visited
{
	color:/*{css:Navigation.SiteHeaderLink.Color}*/;
}
.BrowseDirectoryLink
{
	white-space: nowrap;
	text-align: left !important;
	margin: 0.25em 0 0 0;
	font-size: 0.95em;
}
.BrowseDirectoryLink a, .BrowseDirectoryLink a:link
{
	color:/*{css:Navigation.StandardLink.Color}*/ !important;
}
.BrowseDirectoryLink a:hover
{
	color: /*{css:Navigation.StandardLink.Hover.Color}*/ !important;
}
.SiteHeader a:hover
{
	color:/*{css:Navigation.SiteHeaderLink.Hover.Color}*/;
}

.NoImages .SiteHeaderLeft a, .NoImages .SiteHeaderLeft a:active, .NoImages .SiteHeaderLeft a:link, 
.NoImages .SiteHeaderLeft a:visited, .NoImages .SiteHeaderLeft a:hover
{
	color: /*{css:Font.Color.Header}*/;
	padding-left: /*{css:StandardPaddingHorizontal}*/;
	text-decoration: none;
	font-size: 3em;
	font-weight: bold;
}
.NoImages .SiteHeaderLeft
{
	padding-top: 1.2em;
}
.BulletLink
{
	color: /*{css:Navigation.StandardLink.Color}*/; 
	background-image:url('/*{css:ImageUrl:bullet_arrow.gif}*/');
	background-repeat:no-repeat;
	background-position: left center;
	padding-left:18px;
	margin-right:.4em;
}
.BulletLink a
{
	color: /*{css:Navigation.StandardLink.Color}*/; 
}
.BulletLink a:hover
{
	color: /*{css:Navigation.StandardLink.Hover.Color}*/; 
}
.SingleLineTextBox
{
	color: #333;
	border: solid .1em #A5ACB2;
	vertical-align: middle;
	margin-right: .2em;
}
.VerticalAlignMiddle
{
	vertical-align: middle;
}
.MultilineTextBox
{
	color: #333;
	border: solid .1em #A5ACB2;
	width: 99%;
	height: 20em;
	vertical-align: middle;
	padding: .13em;
}
.Bold
{
	font-weight:bold;
}
.BoldHighlightItem
{
	font-weight:bold;
	background-color: Yellow;
}
.HighlightItem
{
	background-color: #fff999;
}
.Normal
{
	font-weight:normal;
}
.Italic
{
	font-style: italic;
}

.SubText
{
	color:#666;
	font-size:.9em;
}
a.SubLink, .SubLink a
{
	color:/*{css:Navigation.StandardLink.Color}*/;
	font-weight:normal;
	font-size:.9em;
}
a.SubLink:hover, .SubLink a:hover
{
	color:/*{css:Navigation.StandardLink.Hover.Color}*/;
}
.SubTextIndent
{
	padding: 0 .4em 0 .4em;
}

/****************************************************************
* 4. Graphics & Branding										*
****************************************************************/

.CheckBox
{
	width: 1em;
	padding: 0;
}
button, .Button, .StretchButton, .DefaultButton{
	display:inline-block;
	background-color:#fff;
	background-image:url(/*{css:ImageUrl:button_gradient.gif}*/);
	background-repeat:repeat-x;
	background-position:bottom;
	width:7.5em;
	padding:.3em;
}
.IE button, .IE .Button, .IE .StretchButton, .IE .DefaultButton
{
	padding:.3em 0;
}
.StretchButton
{
	width:auto;
}

.DefaultButton
{
	border-color:/*{css:Button.Border.LightColor}*/;
	border-light-color:/*{css:Button.Border.LightColor}*/;
	border-dark-color:/*{css:Button.Border.Color}*/;
}

.Opera .DefaultButton
{
	border:outset .15em /*{css:Button.Border.LightColor}*/;
}

.StandardPadding, table.StandardPadding td, table.StandardPadding th
{
	padding: /*{css:StandardPadding}*/;
}

.Opera .StandardPadding, .Safari .StandardPadding
{
	padding: 0;
}

.StandardPaddingBottom, table.StandardPaddingBottom td, table.StandardPaddingBottom th
{
	padding-bottom: /*{css:StandardPaddingVertical}*/;
}
.StandardPaddingTop, table.StandardPaddingTop td, table.StandardPaddingTop th
{
	padding-top: /*{css:StandardPaddingVertical}*/;
}
.StandardPaddingLeft, table.StandardPaddingLeft td, table.StandardPaddingLeft th
{
	padding-left: /*{css:StandardPaddingHorizontal}*/;
}
.StandardPaddingRight, table.StandardPaddingRight td, table.StandardPaddingRight th
{
	padding-right: /*{css:StandardPaddingHorizontal}*/;
}
.DoublePadding, table.DoublePadding td, table.DoublePadding th
{
	padding: /*{css:DoublePadding}*/;
}
.DoublePaddingBottom, table.DoublePaddingBottom td, table.DoublePaddingBottom th
{
	padding-bottom: /*{css:DoublePaddingVertical}*/;
}
.DoublePaddingTop, table.DoublePaddingTop td, table.DoublePaddingTop th
{
	padding-top: /*{css:DoublePaddingVertical}*/;
}
.DoublePaddingLeft, table.DoublePaddingLeft td, table.DoublePaddingLeft th
{
	padding-left: /*{css:DoublePaddingHorizontal}*/;
}
.DoublePaddingRight, table.DoublePaddingRight td, table.DoublePaddingRight th
{
	padding-right: /*{css:DoublePaddingHorizontal}*/;
}
.HalfPadding, table.HalfPadding td, table.HalfPadding th
{
	padding: /*{css:HalfPadding}*/;
}
.HalfPaddingBottom, table.HalfPaddingBottom td, table.HalfPaddingBottom th
{
	padding-bottom: /*{css:HalfPaddingVertical}*/;
}
.HalfPaddingTop, table.HalfPaddingTop td, table.HalfPaddingTop th
{
	padding-top: /*{css:HalfPaddingVertical}*/;
}
.HalfPaddingLeft, table.HalfPaddingLeft td, table.HalfPaddingLeft th
{
	padding-left: /*{css:HalfPaddingHorizontal}*/;
}
.HalfPaddingRight, table.HalfPaddingRight td, table.HalfPaddingRight th
{
	padding-right: /*{css:HalfPaddingHorizontal}*/;
}


td.VerticalPadding
{
	height: .5em;
}
td.HorizontalListPadding
{
	width: 2.5em;
	text-align: center;
}
span.HorizontalListPadding
{
	margin-left: 2.5em;
}
.IE7 span.HorizontalListPadding
{
	zoom: 100%;
}
.NoPadding
{
	padding:0 !important;
}
.StandardMargin
{
	margin-left:/*{css:StandardMargin}*/;
	margin-bottom:/*{css:StandardMargin}*/;
}
.StandardMarginTop
{
	margin-top:/*{css:StandardMargin}*/;
}
.StandardMarginBottom
{
	margin-bottom:/*{css:StandardMargin}*/;
}
.StandardMarginLeft
{
	margin-left:/*{css:StandardMargin}*/;
}
.StandardMarginRight
{
	margin-right:/*{css:StandardMargin}*/;
}
.HalfMarginTop
{
	margin-top: /*{css:HalfMargin}*/;
}
.HalfMarginBottom
{
	margin-bottom: /*{css:HalfMargin}*/;
}
.HalfMarginLeft
{
	margin-left: /*{css:HalfMargin}*/;
}
.NoMargin
{
	margin:0;	
}
.NoBorder
{
	border:none !important;
}

.VerticalBar
{
	color:#777;
	display:inline;
	padding-left: 1em;
	padding-right: 1em;
	font-size:1em;
	vertical-align:text-top;
	overflow:hidden;
}

.ClearBoth
{
	clear:both;
}
.BulletError
{
	font-size: .9em;
	font-weight: bold;
	color: #F00;
	background-image: url(/*{css:ImageUrl:cautionsign_bug.gif}*/);
	background-position:left top;
	background-repeat: no-repeat;
	padding-left: 22px;
}
div.BulletError
{
	margin-top:/*{css:StandardMargin}*/;
	margin-bottom:/*{css:StandardMargin}*/;
}
.DottedLine
{
	background-image: url(/*{css:ImageUrl:underline_dot_green.gif}*/);
	background-position: left bottom;
	background-repeat: repeat-x;
	line-height: 1em;
	padding-top: .1em;
	margin-bottom: .4em;
}
h1.DottedLine, h2.DottedLine, h3.DottedLine
{
	width:100%;
	display:block !important;
	padding-bottom:.1em !important;
	margin-bottom: .8em !important;
}
.Error, .ErrorMessage, .Required
{
	color: #F00 !important;
}

.ErrorMessage span
{
	display: block;
}

.ServiceUnavailableError
{
	color: #F00;
	font-style: italic;
	font-size: 1.6em;
}
.Required
{
	font-style: italic;
	color: #F00 !important;
}
.Disabled
{
	color: #777;
	cursor:text;
}
.Header
{
	margin:0;
}
.Header h1, h1.Header, .Header h2, h2.Header, h3.Header, Header h3
{
	margin:0;
    display:inline;
    color: /*{css:Font.Color.Header}*/;
}
.AlternateHeader h1, h1.AlternateHeader, .AlternateHeader h2, h2.AlternateHeader, h3.AlternateHeader, .AlternateHeader h3
{
    color: /*{css:Font.Color.Header.Alternate}*/;
}
h1
{
	font-size: 1.6em;
	margin-bottom:.7em;
}
h2
{
    font-size: 1.2em;
	padding-top:.7em;
	padding-bottom:.7em;
}
h3
{
    font-size: 1em;
	padding-bottom:0;
}
h4
{
    font-size: .8em;
	padding-bottom:.2em;
}
.SubHeader, .SubHeader a, .SubHeader a:active, .SubHeader a:link, .SubHeader a:visited
{
    font-size: 1.1em;
    font-weight: bold;
	margin-bottom: 0em;
}
.SecondaryText
{
	color: /*{css:Font.Color.Secondary}*/;
}
.FullWidth
{
	width:100%;
}
.HalfWidth
{
	width: 50%;
}
.ThirdWidth
{
	width: 33%;
}
input.FullWidth, textarea.FullWidth
{
	width: 98%;
}
input.HalfWidth, textarea.HalfWidth
{
	width: 49%;
}

input.UrlTextBox
{
	width: 31%;
}
.Centered
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.Justify
{
	text-align:justify;
}
.AlignLeft
{
	text-align:left !important;
}
.AlignRight
{
	text-align:right;
}
.AlignTop
{
	vertical-align:top;
}
.AlignMiddle
{
	vertical-align:middle;
}
.AlignBottom
{
	vertical-align:bottom;
}
.AlignCenter
{
	text-align:center;
}
.StandardBackground
{
	background-color:/*{css:Background.Standard}*/; 
}
.AlternateBackground
{
	background-color:/*{css:Background.Alternate}*/; 
}
.AlternateBackgroundDark
{
	background-color:/*{css:Background.Alternate.Dark}*/; 
}
.ModalBackground
{
	background-color:/*{css:Background.Modal}*/; 
}
.ModalBackgroundLight
{
	background-color:/*{css:Background.Modal.Light}*/; 
}
table.Grid, .Grid table
{
	width:100%;
	border-width:.1em;
	border-style:solid;
	border-collapse:collapse;
	border: solid .1em #cdcdcd;
}
.Grid td, .Grid th
{
	border-width:0;
	border-bottom-width:.1em;
	border-style:solid;
	text-align:center;
	border: solid .1em #cdcdcd;
	padding: /*{css:StandardPadding}*/;
	height:2.2em;
	vertical-align:top;
	border-left:none;
	border-right:none;
}
.Grid th
{
	font-weight:bold;
}
.Grid tr
{ 
	border: none; 
}

#WikiVersions th
{
	background-color:#E2F6CC;
}

.Grid .Header
{
	background-color: #E2F6CC;
	margin-bottom: 0em;
}
.ShowDetails .Details, .HideDetails .Summary
{
	display: block;
}
.HideDetails .Details, .ShowDetails .Summary
{
	display: none;
}
.PageTemplateSelectedLink 
{
	margin-left: .4em;
	font-weight: bold;
}
.IE7 .StandardMarginLeft, .IE7 .PageTemplateSelectedLink 
{
	zoom: 100%;
}
.Selected
{
	font-weight: bold;
}
.NoItemsMessage
{
	font-style: italic;
}
.SortArrow
{
	padding: .2em;
	vertical-align: middle;
}
.ArrowSmall
{
	background-image:url(/*{css:ImageUrl:arrow_sm.gif}*/);
	background-position:.2em .5em;
	background-repeat:no-repeat;
	padding-left:1em;
}
.TopAndBottomBorder
{
	border-top: solid 1px #798072;
	border-bottom: solid 1px #798072;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
}
.MoreLink
{
	font-weight: bold;
	font-size: .75em;
}

/****************************************************************
* MasterPage Styles												*
****************************************************************/

.CanvasMargin
{
	width: 1.4em;
	background-color: #4d4d4d;
	height: 100%;
}
.CanvasBackground
{
	background-image: url(/*{css:ImageUrl:banner_bg_grad.gif}*/);
	background-repeat: repeat-x;
	height: 100%;
}
.CanvasContent
{
	background-image: url(/*{css:ImageUrl:banner_bg.jpg}*/);
	background-repeat: no-repeat;
}
.IE .CanvasBackground
{
	height: auto;
}
.IE7 .CanvasContentDiv
{
	min-height: 200px;
}
.FullHeightNoIE7
{
	height: 100%;
}
.IE7 .FullHeightNoIE7
{
	height: auto;
}
.SiteHeader 
{  
    padding-right: 1.07em;
}
.SiteHeaderLeft
{
	float: left;
	width: 230px;
	height: .88em;
}
.SiteHeaderRight 
{ 
    float: right;
    text-align:right;
    min-width:15.4em;
}

.SiteHeaderProjectRight
{ 
	text-align: right;
	background-image:url(/*{css:ImageUrl:projectlogobg.png}*/);
	background-repeat:repeat-x;
}
.ProjectLogoLeft
{
	background-image: url(/*{css:ImageUrl:logo_project_left.jpg}*/);
	background-position:right top;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 90px;
}
.IE6 .ProjectLogoLeft
{
	height: 90px;
}
.ProjectLogoRight
{
	background-image: url(/*{css:ImageUrl:logo_project_right.jpg}*/);
	background-position:right;
	background-repeat: no-repeat;
	height: 90px;
	width: 148px;
}
.LogoLinkInner
{
	visibility:hidden;
}
.LogoLinkOuter, .LogoLinkInner, .ProjectLogoRight .LogoLink
{
	width: 134px; 
	height: 55px; 
}
.LogoLinkOuter
{
	padding-top: 20px;
	padding-left: 13px;
}
.VerticalBarTop
{
	color:#798072;
	display:inline;
	padding-left: .2em;
	padding-right: .2em;
	font-size:1em;
	vertical-align:text-top;
	overflow:hidden;
}

.SiteHeaderRightShim
{
	width:15.4em;
	height:1px;
}
.SiteContent
{
	margin-top:2em;
	padding-top:1.07em;
}
.SiteFooter
{
	font-size:.9em;
}
.Safari .SiteFooter
{
	padding-bottom:0;
}
.SiteFooter a, .SiteFooter a:active, .SiteFooter a:link, .SiteFooter a:visited
{
	color: /*{css:Navigation.StandardLink.Color}*/; 
}
.SiteFooter a:hover
{
	color: /*{css:Navigation.StandardLink.Hover.Color}*/; 
}

.NoImages .SiteFooter
{
	color: #000;
}
.SiteContentTable
{
	margin-left: auto;
	margin-right: auto;
}
.SiteContentTopPadding
{
	padding-top: 2em;
}
.SidebarContainer
{
	width:22em;
}
.IE6 .SidebarContainer
{
	margin-top:1.5em;	
}
.ProjectContent .SideBar
{
	display:block;
	margin-top:1.3em;
	margin-left:.7em;
	
}
.ProjectContent .SideBar .ContentPanel .TopBorder, .ProjectContent .SideBar .ContentPanel .RoundedContent
{
    background-image: url('/*{css:ImageUrl:sidebarheaderbg.gif}*/');
    background-repeat: repeat-x;
}
.SideBar
{
	width: 15.1em;
	min-width:15.1em;
}
.SideBarPadding, .SideBarPadding div
{
	width: 17px;
}

.RightSideBar
{
 	margin-top: 2em;
   	padding: 0 0 0.2em 0;
	width: 20.7em;
}

.OuterBox
{
	padding: 0 0 0.2em 0;
	width: 40em;
	margin: auto;
}

.OuterBoxNoWidth
{
	padding: 0 0 0.2em 0;
	margin: auto;
}

.GradientSideBar, .GradientBox
{
	border: solid 0.1em #ccc;
	background: transparent url(/*{css:ImageUrl:sidebox.png}*/) repeat-x;
}

.SideBarControl, .InnerBox
 {
 	background-color: #fff;
 	clear:both;
    border: solid 0.1em #ccc;
    margin: 0.3em 0.3em 0.1em 0.3em;
	padding:0.8em;
 }

.SideBarControl h2
{
	color: #000;
}

.InnerBox h2
{
	color: #30332d;
	font-weight:bold;
	padding:0;
	margin:0;
}
 
.MainContent
{
	width: 35em;
}
.MainContentMinWidthDiv
{
	overflow: hidden; 
	height: 1px; 
	width: 17.1em;
}
.MainContentMinWidthContent
{
	margin-top: -1px;
}
.FlashMessage
{
	background-color: #3E62A6;
	color: White;
	font-weight: bold;
	padding: .5em;
	margin-bottom: 1em;
	text-align: center;
	-khtml-border-radius: .5em;
	-moz-border-radius: .5em;
	-o-border-radius: .5em;
	border-radius: .5em;
}
.SecondarySearchButton
{
	padding: 0;
	margin-left: -0.55em;
	height: 21px; 
	width: 21px;
	vertical-align: middle;
}

/************************************
* Update Panel    *
*************************************/

.IE6 iframe.FullPanel
{
	filter:alpha(opacity=0);
}
.FullPanel
{
	width:100%;
	height:100%;
	overflow:hidden;
}
.IE6 .UpdateProgressPanel .FullPanel
{
	position: absolute;
}
.IE table.FullPanel
{
	table-layout:fixed;
}
.ModalBackground
{
	background-color:/*{css:Background.Modal}*/;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.UpdateProgressPanel, .UpdateProgressPanel .ModalBackground, .UpdateProgressPanel #UpdateProgressTable
{
	position:absolute;
	top:0;left:0;
	
}


.UpdateProgress
{
	background-color: #DAF1B2;
	color: #008000;
	font-weight: bold;
	border:solid .1em black;
	width:13.2em;
	height:4.1em;
	overflow:hidden;
	text-align:center;
	position:absolute;
	z-index:1000000;
	visibility:hidden;
	
}
.UpdateProgressText
{
	position:relative;
	top:1.44em;
}

/************************
* jQuery Modal Dialog
************************/
.ui-dialog { background-color: white; border: solid 1px #cfcfcf; }
.ui-dialog .ui-dialog-titlebar, .ui-dialog .ui-dialog-titlebar-close { display:none; }
.ui-dialog-overlay { background-color:Black; }
.ui-dialog .ui-dialog-content { margin: 1.2em; }

/****************************************************************
* Common popup panel											*
****************************************************************/

.ClosePanel,
.ChangePanel,
.LicensePanel
{
	background-color: White;
	border: solid 1px #333;
	padding-bottom:1em;
}
.ClosePanel .ui-dialog-titlebar,
.ChangePanel .ui-dialog-titlebar,
.LicensePanel .ui-dialog-titlebar
{
	background-color: #e6e6e6;
	border-bottom: solid 1px #333;
	font-weight: bold;
	padding: 0.25em 0.5em;
	display:block;
}
.ClosePanel .Body,
.ChangePanel .Body,
.LicensePanel .Body
{
	padding: 0.5em;
}
.ClosePanel .Buttons,
.ChangePanel .Buttons,
.ChangePanel .Footer,
.LicensePanel .Buttons
{
	text-align: right;
	margin-top: 0.25em;
	margin-right: .5em
}

/****************************************************************
* Close popup panel												*
****************************************************************/

.ClosePanel
{
	width: 30em;
}
.ClosePanel .Body .CommentBox
{
	font-size: inherit;
 	width: 98%;
}

/****************************************************************
* Change popup panel											*
****************************************************************/

.ChangePanel
{
	width: 20em;
}
.ChangePanel .Body .Content
{
	border: solid 1px #aaa;
	height: 10em;
	overflow: auto;
	width: 100%;
}
.IE6 .ChangePanel .Body .Content
{
	width:auto;
}
.ChangePanel .Body .DynamicContent
{
}
.ChangePanel .Footer
{
	text-align: center;
}
.ChangePanel .PanelErrorLabel
{
	color:Red;
	padding:0px 10px;
	visibility:hidden;
	text-align:center;
}

/****************************************************************
* License popup panel											*
****************************************************************/

.LicensePanel
{
	width: 45em;
}
.LicensePanel .Body .CommentBox
{
	font-size: inherit;
 	width: 98%;
}

/****************************************************************
* Common Popup Menu												*
****************************************************************/

ul.ContextMenu
{
	background-color: #fff;
	border: solid 1px #888;
	color: #333;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	position: absolute;
}
ul.ContextMenu li
{
	cursor: pointer;
	margin: .2em .2em .2em .2em;
	padding: .1em .5em;
}
ul.ContextMenu li:hover
{
	background-color: #888;
	color: #fff;
}
ul.ContextMenu li.GroupCaption
{
	color: #333;
	margin-top: .5em;
}
ul.ContextMenu li.GroupCaption:hover
{
	background-color: #fff;
	color: #333;
}
ul.ContextMenu li.GroupMember
{
	padding-left: 1em;
}
ul.ContextMenu li.Nested
{
	background-image: url('/*{css:ImageUrl:nestedMenu.gif}*/');
	background-position: right 0px;
	background-repeat: no-repeat;
}
ul.ContextMenu li.Nested:hover
{
	background-image: url('/*{css:ImageUrl:nestedMenu.gif}*/');
	background-position: right -16px;
	background-repeat: no-repeat;
}

/************************
* Email Opt In
************************/
div.EmailOptIn .AdditionalText 
{
	color: Gray;
}

/************************
* jQuery Date Picker
************************/
.ui-datepicker-prev, .ui-datepicker-prev a, .ui-datepicker-next, .ui-datepicker-next a { font-family:Tahmoa; font-size:8.3pt; color:Black; text-decoration:none; cursor:pointer; }
.ui-datepicker-prev { float:left; padding-left:.25em; padding-top:.25em; }
.ui-datepicker-next { float:right; margin-right:.25em; padding-top:.25em; }
.ui-datepicker-header { font-family:Tahmoa; font-size:8.3pt; font-weight:700; text-align: center; border:solid 1px #646464; border-bottom:none; background-color:White; }
.ui-datepicker { background-color: White; border: solid 1px #646464; border-top:none; font-family:Tahoma; font-size:8.3pt; color:Black; width:14em; }
.Chrome .ui-datepicker { background-color: White; border: solid 1px #646464; border-top:none; font-family:Tahoma; font-size:8.3pt; color:Black; width:14em; margin-left: -0.75em !important;}
.Safari .ui-datepicker { background-color: White; border: solid 1px #646464; border-top:none; font-family:Tahoma; font-size:8.3pt; color:Black; width:14em; margin-left: -0.75em !important;}
.ui-datepicker a { color:Black; text-decoration:none; }
.ui-datepicker-title-row { padding:.35em; }
.ui-datepicker-days-cell { padding:.35em; text-align:center; }
.ui-datepicker-days-cell-over { background-color: #edf9ff; color:#0066cc; cursor:pointer; }
.ui-datepicker-current-day { background-color: #edf9ff; border:solid 1px #daf2fc; color:#0066cc; }
.ui-datepicker-control, .ui-datepicker-current { display:none; }
.ui-datepicker-trigger { margin-left: .5em; cursor: pointer; }
.ui-datepicker-cover {
  display: none; /*sorry for IE5*/
  display/**/: block; /*sorry for IE5*/
  position: absolute; /*must have*/
  z-index: -1; /*must have*/
  filter: mask(); /*must have*/
  top: -4px; /*must have*/
  left: -4px; /*must have*/
  width: 193px; /*must have to match width and borders*/
  height: 200px; /*must have to match maximum height*/ 
}

/************************
* Deprecated Styles		*
************************/

.CodePlexPageHeader
{
	color: #6d8d34;
	font-size: 1.6em;
	font-weight: bold;
	background-repeat: no-repeat;
	vertical-align: middle;
}

